<h1>Sign up as a new user.</h1>
<form method="post" action="/users/new">
<label>Handle:<input type="text" name="handle"></label><br>
<label>Email:<input type="text" name="email"></label><br>
<label>Password:<input type="password" name="password"></label><br>
<input type="submit" value="Sign up"> or <a href="/">Go back</a>
</form>

