<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to DockTracker!</h2>

    <% if flash[:error] %>
    <h2 style="color:red;"><%= flash[:error] %></h2>
    <% end %>
    <div class="content">
    <form method="post" action="/">
    <label>Handle:<input type="text" name="handle"></label><br>
    <label>Password:<input type="password" name="password"></label><br>
    <input type="submit" value="Log in"> or <a href="/users/new">Sign up</a>
    </form>
    </div>

    <div class="sidebar">
    For Professional Drivers!  Add your most frequently visited locations.  Create your own comments for others to view.  Log in or Sign Up to get started!
    </div>

  </div>
</div>